Repository undyingwraith/ipsm, changes with the labels that .github/labeler.yml gives for each.
All labels: component:core, component:web, documentation

.github/labeler.yml:

"component:core":
  - packages/core/**/*
"component:web":
  - packages/web/**/*
documentation:
  - docs/**/*
  - README.md
  - packages/*/README.md

added new mime types to view
  packages/web/src/components/PostContent.tsx
Labels: component:web

core cleanup
  packages/core/README.md
  packages/core/src/IIpsmApp.ts
  packages/core/src/IpsmApp.ts
  packages/core/src/index.ts
  packages/core/src/services/PostManager/IPostManager.ts
  packages/core/src/services/PostManager/PostManager.ts
  packages/core/src/services/PostManager/index.ts
  packages/core/src/services/PostSerializer.ts
  packages/core/src/services/PostSerializer/IPostSerializer.ts
  packages/core/src/services/PostSerializer/PostSerializer.ts
  packages/core/src/services/PostSerializer/index.ts
  packages/core/src/services/TopicService.ts
  packages/core/src/services/TopicService/ITopicService.ts
  packages/core/src/services/TopicService/TopicService.ts
  packages/core/src/services/TopicService/index.ts
  packages/core/src/services/board/IBoardService.ts
  packages/core/src/services/board/index.ts
  packages/core/src/services/index.ts
  packages/core/src/services/mime/IMimeHandler.ts
  packages/core/src/services/mime/IMimeHandlerRegistry.ts
  packages/core/src/services/mime/MimeHandlerRegistry.ts
  packages/core/src/services/mime/handlers/DefaultHandler.ts
  packages/core/src/services/mime/handlers/TextHandler.ts
  packages/core/src/services/mime/handlers/index.ts
  packages/core/src/services/mime/index.ts
  packages/core/src/services/mimehandler/IMimeHandlerRegistry.ts
  packages/core/src/types/IPost.ts
  packages/core/src/types/IPostContent.ts
  packages/core/src/types/ISerializedPost.ts
  packages/core/src/types/ISerializedPostContent.ts
  packages/core/src/types/index.ts
Labels: component:core, documentation

Fixed loading of posts
  packages/web/src/App.tsx
  packages/web/src/services/BoardStorageService.ts
Labels: component:web

added post sync
  packages/core/src/IpsmApp.ts
  packages/web/package.json
  packages/web/src/App.tsx
  packages/web/src/IpsmWebApp.ts
  packages/web/src/components/PostContent.tsx
  packages/web/src/hooks/useIpfs.ts
  packages/web/src/hooks/useIpsm.ts
  packages/web/src/services/BoardStorageService.ts
  packages/web/src/services/SyncService.ts
  packages/web/yarn.lock
Labels: component:core, component:web

v0.1.5
  packages/core/package.json
  packages/web/package.json
  packages/web/src/App.tsx
Labels: component:core, component:web

Fixed loading of posts
  packages/web/src/App.tsx
  packages/web/src/services/BoardStorageService.ts
Labels: component:web

added new mime types to view
  packages/web/src/components/PostContent.tsx
Labels: component:web

added post sync
  packages/core/src/IpsmApp.ts
  packages/web/package.json
  packages/web/src/App.tsx
  packages/web/src/IpsmWebApp.ts
  packages/web/src/components/PostContent.tsx
  packages/web/src/hooks/useIpfs.ts
  packages/web/src/hooks/useIpsm.ts
  packages/web/src/services/BoardStorageService.ts
  packages/web/src/services/SyncService.ts
  packages/web/yarn.lock
Labels: component:core, component:web

core cleanup
  packages/core/README.md
  packages/core/src/IIpsmApp.ts
  packages/core/src/IpsmApp.ts
  packages/core/src/index.ts
  packages/core/src/services/PostManager/IPostManager.ts
  packages/core/src/services/PostManager/PostManager.ts
  packages/core/src/services/PostManager/index.ts
  packages/core/src/services/PostSerializer.ts
  packages/core/src/services/PostSerializer/IPostSerializer.ts
  packages/core/src/services/PostSerializer/PostSerializer.ts
  packages/core/src/services/PostSerializer/index.ts
  packages/core/src/services/TopicService.ts
  packages/core/src/services/TopicService/ITopicService.ts
  packages/core/src/services/TopicService/TopicService.ts
  packages/core/src/services/TopicService/index.ts
  packages/core/src/services/board/IBoardService.ts
  packages/core/src/services/board/index.ts
  packages/core/src/services/index.ts
  packages/core/src/services/mime/IMimeHandler.ts
  packages/core/src/services/mime/IMimeHandlerRegistry.ts
  packages/core/src/services/mime/MimeHandlerRegistry.ts
  packages/core/src/services/mime/handlers/DefaultHandler.ts
  packages/core/src/services/mime/handlers/TextHandler.ts
  packages/core/src/services/mime/handlers/index.ts
  packages/core/src/services/mime/index.ts
  packages/core/src/services/mimehandler/IMimeHandlerRegistry.ts
  packages/core/src/types/IPost.ts
  packages/core/src/types/IPostContent.ts
  packages/core/src/types/ISerializedPost.ts
  packages/core/src/types/ISerializedPostContent.ts
  packages/core/src/types/index.ts
Labels: component:core, documentation

v0.1.5
  packages/core/package.json
  packages/web/package.json
  packages/web/src/App.tsx
Labels: component:core, component:web

fixed sync
  packages/web/src/services/SyncService.ts
Labels: component:web
